# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ansible
*.vault
.ansible/
*.retry

# Docker
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv

# Environment variables
.env
.env.local

# OS
Thumbs.db

# Temporary files
*.tmp
*.log

# Github / Copilot
.github

/docs_old/*